<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WebTag</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/webtag")
</head>
<body>

    <header>
        <div class="container">
            <a href="/" class="title pull-left">
                <img src="~/images/logo.jpg" title="WebTag" />
                <h3>My<span class="green-text">Web</span>Tag</h3>
            </a>
            <nav class="pull-right clearfix">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                    }
                }
                else
                {
                    @Html.ActionLink("Log in", "Login", "Account", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.Login ? "selected" : "") })
                }
                @Html.ActionLink("About", "About", "Home", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.About ? "selected" : "") })
                @if (Request.IsAuthenticated)
                {
                    <span>@ViewBag.UserName</span>
                }
            </nav>
        </div>
    </header>


    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/js/webtag")
    @RenderSection("scripts", required: false)
</body>
</html>
