<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>WebTag</title>
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/webtag")
</head>
<body>

    <header>
        <div class="container">
            <div class="clearfix">
                <a href="/" class="title pull-left">
                    <img src="~/images/logo.jpg" title="WebTag" />
                    <h3>My<span class="green-text">Web</span>Tag</h3>
                </a>
                <nav class="pull-right clearfix hidden-xs">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Log In", "Login", "Account", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.Login ? "selected" : "") })
                    }
                    @Html.ActionLink("About MyWebTag", "About", "Home", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.About ? "selected" : "") })
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Customize Dashboard", "Widgets", "Dashboard", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.AddWidget ? "selected" : "") })
                        @Html.ActionLink("Dashboard", "/", "Dashboard", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.Dashboard ? "selected" : "") })
                    }
                </nav>
                <button class="fa fa-bars pull-right margin-top visible-xs"></button>
            </div>
            <ul id="mobile-nav" class="display-none">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Dashboard", "/", "Home", "Dashboard")
                    </li>
                }
            <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Log In", "Login", "Account", null, new { @class = (ViewBag.NavSelected == Webtag.Models.NavSection.Login ? "selected" : "") })
                    }
                </li>
            </ul>
        </div>
    </header>


    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/js/webtag")
    @RenderSection("scripts", required: false)
</body>
</html>
