@using Webtag.Models
@model AddWidgetVM

@section scripts {
    <script type="text/javascript">
    $(function ()
    {
        new AddWidgets("@((int)Model.SearchType)", "@((int)Model.WeatherType)");
    });
    </script>
}

<h2 class="margin-top">Select the widgets you want to display on your dashboard</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.LabelFor(m => m.ShowLinks, "Show favorite links?")
        @Html.CheckBoxFor(m => m.ShowLinks)
    </div>

    <div>
        @Html.LabelFor(m => m.SearchType, "Show a seach engine?")
        @Html.DropDownListFor(m => m.SearchType, Model.SearchTypes)
    </div>

    <div>
        @Html.LabelFor(m => m.WeatherType, "Show the weather?")
        @Html.DropDownListFor(m => m.WeatherType, Model.WeatherTypes)
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
}